@{
    ViewData["Title"] = "Add new Property";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to add a new property!</p>

<form>
    <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" size="40" placeholder="99 Strawberry Lane" required>
    </div>
    <div>
        <label for="surface">Surface Area (m2) :</label>
        <input type="text" id="surface" name="surface" size="40" placeholder="107" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" size="40" placeholder="Penthouse with a view" required>
    </div>
    <div>
        <label for="services">Services:</label>
        <input type="text" id="services" name="services" size="40" placeholder="Wi-Fi, Laundry, Pool" required>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>




