@model System.Collections.Generic.List<PropertyModel>

@{
    ViewData["Title"] = "Select property";
}

<h1>@ViewData["Title"]</h1>

<p>Choose which property to add the room to</p>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.address, "AddRoomSurvey", "Home", new { propertyID = item.propertyID })
        <hr />
    </div>
}