@model System.Collections.Generic.List<RoomDataModel>

@{
    ViewData["Title"] = "Delete existing Room";
}

<h1>@ViewData["Title"]</h1>

<p>Select a room to delete it.</p>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.Description, "DeleteConfirmation", "Home", new { ID = item.Id, index = 2 })
        <hr />
    </div>
}