@model System.Collections.Generic.List<PropertyDataModel>

@{
    ViewData["Title"] = "Select property";
}

<h1>@ViewData["Title"]</h1>

<p>Choose which property to delete the room from.</p>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.Address, "DeleteRoomList", "Home", new { propertyID = item.Id })
        <hr />
    </div>
}