@{
    ViewData["Title"] = "Delete existing Property";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to delete an existing property.</p>

@foreach (var item in ViewBag.propertyList)
{
    <div>
        @item.address
        <hr />
    </div>
}