@model System.Collections.Generic.List<PropertyModel>

@{
    ViewData["Title"] = "Delete existing Property";
}

<h1>@ViewData["Title"]</h1>

<p>Select a property to delete it from the list.</p>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.address, "DeleteConfirmation", "Home", new { propertyID = item.PropertyID })
        <hr />
    </div>
}