@model System.Collections.Generic.List<PropertyModel>

@{
    ViewData["Title"] = "List all Properties";
}

<h1>@ViewData["Title"]</h1>

<p>On this page you will see all current properties.</p>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.address, "PropertyDescription", "Home", new {propertyID = item.propertyID })
        <hr />
    </div>
}